<div class="panel panel-primary">
  <div class="panel-header">
    <h4 class="underlined">CREATE EVENT</h4>
  </div>
  <div class="panel-body">
    <%= simple_form_for(@event, input_html: {class: "form", multipart: true}) do |f| %>
      <div class="form-group">
        <%= f.input :name, autofocus: true, label: "Event Name",
         placeholder: 'Event Name', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.text_field :when, label: "Date", placeholder: 'When is it?',
         class: 'form-control', as: :datetime %>
      </div>

      <div class="form-group">
        <%= f.input :where, label: "Location",
         placeholder: 'Where is it being held?', class: 'form-control' %>
      </div>

      <div class="form-actions">
        <%= f.submit :create, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

